*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header{
    height: 60px;
    background-color: antiquewhite;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.searchbar{
    width: 300px;
    height: 15px;
    background-color: #fff;
    /* border: 2px solid #000; */
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px;
    /*margin-top: 20px;*/
}

.search{
    width: 100%;
    background: none;
    border: none;
    outline: none;
    font-size: 15px;
}

.searchbtn{
    text-decoration: none;
    color: #000;
}

.list .fa-home{
    font-size: 25px;
}

.list li{
    list-style-type: none;
    display: inline-block;

    margin: 0px 20px;
}

.list li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.list li a:hover{
    text-decoration: underline;
}

.list ul ul{
    width: 110px;

    position: absolute;
    top: 60px;
    left: 920px;
    background-color: antiquewhite;
    /*display: list-item;*/
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.list ul ul li{
    margin: 3px 20px;
}

.list ul li:hover > ul{
    opacity: 1;
    visibility: visible;
}

.list ul ul li{

}

section{
    margin: 0 30px;
}

section h2{
    margin-top: 30px;
}

.new{
    display: flex;
    justify-content: space-between;

    margin-top: 20px;
}

.relbook{
    width: 320px;
    height: 180px;
    background-color: antiquewhite;
    border-radius: 3px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.rel1{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('img/book1.jpg');
    background-size: cover;
    background-position: center;
}

.rel2{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('img/book2.jpg');
    background-size: cover;
    background-position: center;
}

.rel3{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('img/book3.jpg');
    background-size: cover;
    background-position: center;
}

.relbook > div{
    margin-left: 20px;
}

.relbook img{
    width: 100px;
    box-shadow: 2px 2px 10px #000;
}

.relbook h3{
    color: #fff;
}

.relbook p{
    color: #fff;
    font-size: 12px;
}

.books1,.books2{
    height: 220px;
    background-color: #0a3d62;
    border-radius: 5px 5px 0 0;

    display: flex;
    justify-content: space-between;

    padding: 30px 0;
}

.books1{
    margin-top: 20px;
    padding-top: 40px;
}

.books2{
    border-radius: 0 0 5px 5px;
    padding-bottom: 40px;
}

.booksd{
    width: 400px;
}

.booksd img{
    width: 100px;
    height: 150px;
    box-shadow: 2px 2px 10px #000;

    margin-left: 50px;

    cursor: pointer;
}

.booksd > div{
    color: #fff;
    text-align: center;
}

.booksd p{
    font-size: 13px;
}

.booksd a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    background-color: #fcd12a;
    display: inline-block;
    font-weight: bold;
    border-radius: 20px;
    padding: 5px 15px;

    margin-top: 10px;
}

.booksd a:hover{
    background-color: #bed10f;
}

.see{
    text-decoration: none;
    color: #fff;
    background-color: #0a3d62/*#1e3bfa*/;
    border-radius: 3px;

    float: right;

    padding: 7px 15px;
    margin-top: 20px;
    margin-right: 55px;
}

.see i{
    transform: translate(0);
    transition: all 0.3s;
}

.see:hover i{
    /*background-color: #1f1f9c;*/
    transform: translate(5px);
}

.premium{
    clear: both;

    display: flex;
    justify-content: center;

    margin-top: 100px; 
}

.bene{
    margin-top: 30px;
}

.bene h1{
    color: #bed10f;
    font-size: 40px;
}

.bene p{
    color: #888;

    margin: 10px 0 20px 0;
}

.bene ul li{
    list-style-type: none; 
    font-weight: bold;

    margin: 0 0 10px 0;
}

.bene ul li i{
    color: #bed10f;
}

.premium img{
    width: 150px;

    margin-left: 60px;
}

.bene a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 20px;
    background-color: #fcd12a;
    font-weight: bold;
    border-radius: 20px;
    
    padding: 5px 15px;
    margin-top: 10px;
}

.bene a:hover{
    background-color: #bed10f;
}

footer{
    height: 100px;
    background-color: antiquewhite;

    display: flex;
    justify-content: space-around;
    align-items: center; 

    margin-top: 40px;
}

footer h1{
    color: #777;

    /*margin-bottom: 10px;*/
}

footer .contact a{
    display: block;
    text-decoration: none;
    color: #333;
}

footer .contact a:hover{
    text-decoration: underline;
}

footer .contact i{
    font-size: 20px;
}